@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Error2";
}

<h1>Ви ввели невірну назву</h1>

<a asp-controller="Article" asp-action="Statistic" class="btn btn-dark text-white" style="width:150px">Спробуйте знову</a>