@model UseArticle
@inject IViewLocalizer Localizer
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-dark">@Localizer["Use Article"]</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="CardName">Картка для якої потрібно застосувати статтю</label>
			<input asp-for="CardName" class="form-control" />
			<span asp-validation-for="CardName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ArticleName">Стаття</label>
			<input asp-for="ArticleName" class="form-control" />
			<span asp-validation-for="ArticleName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Reuse">Використати статтю повторно через стільки днів (Не обов'язково)</label>
			<input asp-for="Reuse" class="form-control" type="number" />
			<span asp-validation-for="Reuse" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-dark text-white" style="width:200px">@Localizer["Use Article"]</button>
		<a asp-controller="Article" asp-action="Index" class="btn btn-secondary" style="width:150px">@Localizer["Back to List"]</a>
	</div>
</form>