/* _content/Project_MVC/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-u6oqyyq2us] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-u6oqyyq2us] {
  color: #0077cc;
}

.btn-primary[b-u6oqyyq2us] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-u6oqyyq2us], .nav-pills .show > .nav-link[b-u6oqyyq2us] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-u6oqyyq2us] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-u6oqyyq2us] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-u6oqyyq2us] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-u6oqyyq2us] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-u6oqyyq2us] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.dropdown:hover .dropdown-menu[b-u6oqyyq2us] {
    display: block;
}

/*.container-fluid {
    height: 80px;
}*/
/* _content/Project_MVC/Views/Shared/_LayoutNoMenu.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-sq7h6uqbdo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-sq7h6uqbdo] {
  color: #0077cc;
}

.btn-primary[b-sq7h6uqbdo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-sq7h6uqbdo], .nav-pills .show > .nav-link[b-sq7h6uqbdo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-sq7h6uqbdo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-sq7h6uqbdo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-sq7h6uqbdo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-sq7h6uqbdo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-sq7h6uqbdo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.dropdown:hover .dropdown-menu[b-sq7h6uqbdo] {
    display: block;
}

/*.container-fluid {
    height: 80px;
}*/
