@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Error";
}

<h1>Щось пішло не так</h1>

<a asp-controller="Card" asp-action="Cards" class="btn btn-dark text-white" style="width:150px">Спробуйте знову</a>

