@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Error";
}

<h1>Ви ввели невірну назву</h1>

<a asp-controller="Card" asp-action="Exchange" class="btn btn-dark text-white" style="width:150px">Спробуйте знову</a>

