@using NickBuhro.Translit;
@model Statistic
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = "Statistic";
}

<div class="border p-3 mt-4">
	<div class="row pb-2">
		<h2 class="text-dark">@Localizer["Statistic"]</h2>
		<hr />
	</div>
	<div class="mb-3">
		<label asp-for="CardName">@Localizer["Name"]</label>
		<input asp-for="CardName" disabled class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="AllIncome">Всього прибутку</label>
		<input asp-for="AllIncome" disabled class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="AllExpense">Всього видатків</label>
		<input asp-for="AllExpense" disabled class="form-control" />
	</div>
	<a asp-controller="Card" asp-action="Cards" class="btn btn-secondary" style="width:150px">@Localizer["Back to List"]</a>
</div>
